DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=dev-insecure-secret-troque-em-producao
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=vettro_django
DB_USER=vettro
DB_PASSWORD=vettro
DB_HOST=localhost
DB_PORT=5433
