<span hx-swap-oob="true" id="campo-endereco"><input type="text" id="id_endereco" name="endereco" value="{{ dados.logradouro|default:'' }}"></span>
<span hx-swap-oob="true" id="campo-bairro"><input type="text" id="id_bairro" name="bairro" value="{{ dados.bairro|default:'' }}"></span>
<span hx-swap-oob="true" id="campo-cidade"><input type="text" id="id_cidade" name="cidade" value="{{ dados.localidade|default:'' }}"></span>
<span hx-swap-oob="true" id="campo-uf"><input type="text" id="id_uf" name="uf" maxlength="2" value="{{ dados.uf|default:'' }}"></span>
